doctype html

head
    meta(charset="utf-8")
    title Vista de productos
    meta(name="descripcion" content="Vista de productos")
    meta(name="viewport" content="widht-device-width, initial-scale-1")
    link(href="/public/css/normalize.css" rel="stylesheet" type="text/css")
    link(href="/public/css/skeleton.css" rel="stylesheet" type="text/css")
    link(rel="icon" type="image/png" href="/public/images/favicon")

.container
    .row.mt-4
        a.button(href="/") Formulario
        a.button.ml-2(href="/productos") Productos
    .row.mt-4
        .one-half.column
            h4 Ingrese un producto:

            form(method="POST" action="/productos")
                label(for="title") Titulo:
                input(type="text" name="title" id="title" class="row twelve columns" required)

                label(for="title") Precio:
                input(type="text" name="price" id="price" class="row twelve columns" required)

                label(for="url") Url de imagen:
                input(type="text" name="url" id="url" class="row twelve columns" required)

                input(class="button-primary" type="submit" value="Enviar")